* {
  background-color: darkslateblue;
  margin: 0;
  padding: 0;
}
.main {
  min-width: 700px;
  height: 95vh;
}
.page {
  display: grid;
  width: auto;
  height: 90vh;
  justify-content: center;
  align-items: center;
}
#new-game {
  position: fixed;
  right: 2px;
  top: 2px;
  width: 70px;
  color: aliceblue;
  background-color: rgb(165, 24, 24);
}
h2 {
  background-color: rgb(165, 24, 24);
}
.board {
  display: grid;
  width: max-content;
  height: max-content;
  padding: 10px;
  grid-template-columns: repeat(30, 20px);
  grid-template-rows: repeat(16, 20px);
  border: 1px solid black;
}
.piece {
  border: 1px solid black;
}
.open {
  border: 1px solid black;
  background-color: green;
  color: aliceblue;
}
.explosion {
  margin: auto;
  display: none;
  background-color: red;
}
